<!--<div *ngIf="!authenticationService.isLoggedIn()"-->
<!--class="wrapper">-->

<!--<app-login></app-login>-->

<!--</div>-->

<div *ngIf="authenticationService.isLoggedIn()"
     class="wrapper">

    <mat-drawer-container>

        <mat-drawer #drawer
                    opened="opened"
                    class="mat-elevation-z2"
                    mode="side">

            <ngxux-mat-vertical-toolbar></ngxux-mat-vertical-toolbar>

        </mat-drawer>

        <mat-drawer-content>

            <ngxux-mat-toolbar class="mat-elevation-z4"
                               title="NGUX Starter"
                               subtitle="ACME Co, Inc."></ngxux-mat-toolbar>

            <div class="content">

                <router-outlet></router-outlet>

            </div>

            <mat-drawer #drawer2 class="notices" mode="push">

                <p>Auto-resizing sidenav</p>

            </mat-drawer>

        </mat-drawer-content>

    </mat-drawer-container>

    <div class="messageButton">

        <mat-icon [matBadge]="23"
                  matBadgeColor="warn"
                  (click)="onMessageButonClick()">message
        </mat-icon>

    </div>

</div>

<ng-progress></ng-progress>

